{% extends 'base.html' %}

{% block title %}index page{% end %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col col-md-8">
        {% for i in imgs %}
            <div>
                <a href="/post/{{ i.id }}"><img src="{{ static_url(i.image_url) }}" class="img-fluid"  width="300px" height="400px" /></a>
                <p>{{ i.user.nickname }}  <i class="fa fa-heart text-danger"></i>&nbsp;&nbsp;&nbsp;{{ i.upload_time }}</p>
            </div>
        {% end %}
        </div>
            <div class="d-none d-sm-none d-md-block col-md-4">图片说明文字</div>
        </div>
</div>
{% end %}